{:name  :gh-pipeline
 :tasks [{:name    :gh-repositories
          :actions [;; include request action
                    #include ["./github-request-action.edn"
                              {:params {:url ["https://api.github.com/orgs/%s/repos" org-name]}}]

                    ;; next action
                    {:name :process-repositories}]}

         {:name    :gh-pull-requests
          :actions [;; include request action
                    #include ["./github-request-action.edn"
                              {:selectors {repo [:state :repository-name]}
                               :params    {:url          ["https://api.github.com/repos/%s/%s/pulls" org-name repo]
                                           :query-params {:state "closed" :rx #rgx "foo"}}}]
                    ;; next action
                    {:name :process-pull-requests}]}]}