target
classes
checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
!jmx_prometheus_javaagent-0.20.0.jar
*.class
.lein-*
.nrepl-port
.prepl-port
.hgignore
.hg/
.idea
*.iml
.clj-kondo
data
tmp
local.clj
.portal
.collet
/examples/image-object-detection/volume
.aider*