{:paths
 ["scripts"]

 :deps
 {babashka/fs      {:mvn/version "0.5.22"}
  babashka/process {:mvn/version "0.5.22"}}

 :tasks
 {:requires
  ([dev :as dev]
   [release :as release])

  dev-setup
  {:doc  "Create a checkouts folders and symlinks for sub projects"
   :task (dev/setup)}


  dev-cleanup
  {:doc  "Cleanup dev resources"
   :task (dev/cleanup)}


  release
  {:doc  "Make a new Collet release"
   :task (release/make-release)}}}