{:collet/artifact
 {:description "LLM actions for Collet"
  :public-namespaces [collet.actions.llm]
  :publish? true
  :kind :library}

 :paths ["src"]
 :deps {org.clojure/clojure               {:mvn/version "1.12.5"}
        io.velio/collet-core              {:local/root "../collet-core"}
        com.cnuernber/charred             {:mvn/version "1.041"}
        metosin/malli                     {:mvn/version "0.20.1"}
        net.clojars.wkok/openai-clojure   {:mvn/version "0.23.0"}
        org.apache.tika/tika-core         {:mvn/version "3.3.2"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.velio/collet-test-fixtures {:local/root "../test-fixtures"}}
         :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "--enable-native-access=ALL-UNNAMED"]
         :main-opts ["-m" "cognitect.test-runner"]}}}
