{:html_url            :html_url,
 :merge_commit_sha    :merge_commit_sha,
 :patch_url           :patch_url,
 :closed_at           :closed_at,
 :review_comment_url  :review_comment_url,
 :active_lock_reason  :active_lock_reason,
 :author_association  :author_association,
 :number              :number,
 :milestone           :milestone,
 :node_id             :node_id,
 :merged_at           :merged_at,
 :statuses_url        :statuses_url,
 :state               :state,
 :issue_url           :issue_url,
 :title               :title,
 :commits_url         :commits_url,
 :updated_at          :updated_at,
 :diff_url            :diff_url,
 :draft               :draft,
 :comments_url        :comments_url,
 :locked              :locked,
 :id                  :id,
 :url                 :url,
 :body                :body,
 :review_comments_url :review_comments_url,
 :created_at          :created_at
 :user-id             [:user :login]}