{:html_url                    :html_url,
 :description                 :description,
 :archived                    :archived,
 :open_issues_count           :open_issues_count,
 :watchers                    :watchers,
 :ssh_url                     :ssh_url,
 :hooks_url                   :hooks_url,
 :archive_url                 :archive_url,
 :has_discussions             :has_discussions,
 :keys_url                    :keys_url,
 :forks_count                 :forks_count,
 :languages_url               :languages_url,
 :git_url                     :git_url,
 :issue_comment_url           :issue_comment_url,
 :git_refs_url                :git_refs_url,
 :clone_url                   :clone_url,
 :contents_url                :contents_url,
 :has_downloads               :has_downloads,
 :teams_url                   :teams_url,
 :has_issues                  :has_issues,
 :disabled                    :disabled,
 :issue_events_url            :issue_events_url,
 :private                     :private,
 :watchers_count              :watchers_count,
 :collaborators_url           :collaborators_url,
 :homepage                    :homepage,
 :git_commits_url             :git_commits_url,
 :name                        :name,
 :releases_url                :releases_url,
 :milestones_url              :milestones_url,
 :svn_url                     :svn_url,
 :node_id                     :node_id,
 :merges_url                  :merges_url,
 :compare_url                 :compare_url,
 :web_commit_signoff_required :web_commit_signoff_required,
 :stargazers_count            :stargazers_count,
 :tags_url                    :tags_url,
 :statuses_url                :statuses_url,
 :notifications_url           :notifications_url,
 :open_issues                 :open_issues,
 :has_wiki                    :has_wiki,
 :size                        :size,
 :assignees_url               :assignees_url,
 :commits_url                 :commits_url,
 :labels_url                  :labels_url,
 :forks_url                   :forks_url,
 :contributors_url            :contributors_url,
 :updated_at                  :updated_at,
 :pulls_url                   :pulls_url,
 :has_pages                   :has_pages,
 :default_branch              :default_branch,
 :language                    :language,
 :comments_url                :comments_url,
 :id                          :id,
 :stargazers_url              :stargazers_url,
 :is_template                 :is_template,
 :issues_url                  :issues_url,
 :trees_url                   :trees_url,
 :events_url                  :events_url,
 :branches_url                :branches_url,
 :url                         :url,
 :downloads_url               :downloads_url,
 :forks                       :forks,
 :subscribers_url             :subscribers_url,
 :full_name                   :full_name,
 :blobs_url                   :blobs_url,
 :subscription_url            :subscription_url,
 :fork                        :fork,
 :deployments_url             :deployments_url,
 :has_projects                :has_projects,
 :allow_forking               :allow_forking,
 :pushed_at                   :pushed_at,
 :visibility                  :visibility,
 :git_tags_url                :git_tags_url,
 :created_at                  :created_at,
 :mirror_url                  :mirror_url}