{:collet/artifact
 {:description "Vega rendering actions for Collet"
  :public-namespaces [collet.actions.vega]
  :publish? true
  :kind :library}

 :paths ["src" "resources"]
 :deps {org.clojure/clojure         {:mvn/version "1.12.5"}
        io.velio/collet-core        {:local/root "../collet-core"}
        io.velio/collet-action-file {:local/root "../collet-action-file"}
        com.cnuernber/charred       {:mvn/version "1.041"}
        org.graalvm.polyglot/js     {:mvn/version "25.1.3" :extension "pom"}
        org.graalvm.js/js-scriptengine {:mvn/version "25.1.3"}}
 :aliases
 {:test {:extra-paths ["test" "test-resources"]
         :extra-deps {io.velio/collet-test-fixtures {:local/root "../test-fixtures"}
                      io.velio/collet-action-jdbc {:local/root "../collet-action-jdbc"}}
         :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "--enable-native-access=ALL-UNNAMED"]
         :main-opts ["-m" "cognitect.test-runner"]}
  :integration {}}}
