{:name  :test-pipeline
 :tasks [{:name       :counting-task
          :keep-state true
          :actions    [{:type      :custom
                        :name      :count-action
                        :selectors {count [:state :count-action]}
                        :params    [count]
                        :fn        (fn [c]
                                     (println "COUNTER:" (or c 0))
                                     (inc (or c 0)))}]
          :iterator   {:next [:< [:state :count-action] 10]}
          :return     [:state :count-action]}]}