{:collet/artifact
 {:description "Queue actions for Collet"
  :public-namespaces [collet.actions.queue]
  :publish? true
  :kind :library}

 :paths ["src"]
 :deps {org.clojure/clojure          {:mvn/version "1.12.5"}
        io.velio/collet-core         {:local/root "../collet-core"}
        techascent/tech.ml.dataset   {:mvn/version "8.024"}
        io.zalky/cues                {:mvn/version "0.2.1"
                                      :exclusions [com.taoensso/encore
                                                   net.openhft/chronicle-queue]}
        com.taoensso/encore          {:mvn/version "3.169.1"}
        net.openhft/chronicle-queue  {:mvn/version "2026.5"
                                      :exclusions [net.openhft/chronicle-analytics]}
        org.slf4j/slf4j-nop          {:mvn/version "2.0.18"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.velio/collet-test-fixtures {:local/root "../test-fixtures"}}
         :jvm-opts ["--add-exports=java.base/jdk.internal.ref=ALL-UNNAMED"
                    "--add-exports=java.base/sun.nio.ch=ALL-UNNAMED"
                    "--add-exports=jdk.unsupported/sun.misc=ALL-UNNAMED"
                    "--add-exports=jdk.compiler/com.sun.tools.javac.file=ALL-UNNAMED"
                    "--add-opens=jdk.compiler/com.sun.tools.javac=ALL-UNNAMED"
                    "--add-opens=java.base/java.lang=ALL-UNNAMED"
                    "--add-opens=java.base/java.lang.reflect=ALL-UNNAMED"
                    "--add-opens=java.base/java.io=ALL-UNNAMED"
                    "--add-opens=java.base/java.util=ALL-UNNAMED"
                    "--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "--enable-native-access=ALL-UNNAMED"]
         :main-opts ["-m" "cognitect.test-runner"]}}}
