{:paths ["src"]
 :deps {org.clojure/clojure        {:mvn/version "1.12.0"}
        io.velio/collet-core       {:mvn/version "0.2.8-SNAPSHOT"}
        hato/hato                  {:mvn/version "1.0.0"}
        com.cnuernber/charred      {:mvn/version "1.034"}
        diehard/diehard            {:mvn/version "0.11.12"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.velio/collet-test-fixtures {:local/root "../test-fixtures"}}
         :override-deps {io.velio/collet-core {:local/root "../collet-core"}}
         :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "--enable-native-access=ALL-UNNAMED"]
         :main-opts ["-m" "cognitect.test-runner"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.14"}
                 io.velio/collet-build {:local/root "../build"}}
          :ns-default build}}}
