{:collet/artifact
 {:description "OData actions for Collet"
  :public-namespaces [collet.actions.odata]
  :publish? true
  :kind :library}

 :paths ["src"]
 :deps {org.clojure/clojure         {:mvn/version "1.12.0"}
        io.velio/collet-core        {:local/root "../collet-core"}
        io.velio/collet-action-http {:local/root "../collet-action-http"}
        metosin/malli               {:mvn/version "0.16.4"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.velio/collet-test-fixtures {:local/root "../test-fixtures"}}
         :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "--enable-native-access=ALL-UNNAMED"]
         :main-opts ["-m" "cognitect.test-runner"]}}}
