{:deps
 {org.babashka/cli             {:mvn/version "0.12.77"}
  babashka/fs                  {:mvn/version "0.5.34"}
  io.github.lispyclouds/bblgum {:git/sha "881a426d9df9df40eb305ceaeb3996ea1c7ae0d3"}
  mvxcvi/puget                 {:mvn/version "1.3.4"}}}
