{:paths ["src"]
 :deps {org.clojure/clojure    {:mvn/version "1.12.0"}
        io.velio/collet-app    {:mvn/version "0.2.8-SNAPSHOT"}
        nrepl/bencode          {:mvn/version "1.1.0"}
        djblue/portal          {:mvn/version "0.58.2"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.velio/collet-test-support {:local/root "../test-support"}}
         :override-deps {io.velio/collet-core {:local/root "../collet-core"}
                         io.velio/collet-app {:local/root "../collet-app"}}
         :jvm-opts ["--add-exports=java.base/jdk.internal.ref=ALL-UNNAMED"
                    "--add-exports=java.base/sun.nio.ch=ALL-UNNAMED"
                    "--add-exports=jdk.unsupported/sun.misc=ALL-UNNAMED"
                    "--add-exports=jdk.compiler/com.sun.tools.javac.file=ALL-UNNAMED"
                    "--add-opens=jdk.compiler/com.sun.tools.javac=ALL-UNNAMED"
                    "--add-opens=java.base/java.lang=ALL-UNNAMED"
                    "--add-opens=java.base/java.lang.reflect=ALL-UNNAMED"
                    "--add-opens=java.base/java.io=ALL-UNNAMED"
                    "--add-opens=java.base/java.util=ALL-UNNAMED"
                    "--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "--enable-native-access=ALL-UNNAMED"]
         :main-opts ["-m" "cognitect.test-runner"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.14"}
                 io.velio/collet-build-support {:local/root "../build-support"}}
          :ns-default build}}}
