{:paths []
 :deps {org.clojure/clojure             {:mvn/version "1.12.0"}
        io.velio/collet-action-http     {:mvn/version "0.2.8-SNAPSHOT"}
        io.velio/collet-action-file     {:mvn/version "0.2.8-SNAPSHOT"}
        io.velio/collet-action-odata    {:mvn/version "0.2.8-SNAPSHOT"}
        io.velio/collet-action-jdbc     {:mvn/version "0.2.8-SNAPSHOT"}
        io.velio/collet-action-s3       {:mvn/version "0.2.8-SNAPSHOT"}
        io.velio/collet-action-queue    {:mvn/version "0.2.8-SNAPSHOT"}
        io.velio/collet-action-jslt     {:mvn/version "0.2.8-SNAPSHOT"}
        io.velio/collet-action-llm      {:mvn/version "0.2.8-SNAPSHOT"}
        io.velio/collet-action-vega     {:mvn/version "0.2.8-SNAPSHOT"}
        io.velio/collet-action-lucene   {:mvn/version "0.2.8-SNAPSHOT"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.velio/collet-test-support {:local/root "../test-support"}}
         :override-deps {io.velio/collet-core {:local/root "../collet-core"}
                         io.velio/collet-action-http {:local/root "../collet-action-http"}
                         io.velio/collet-action-file {:local/root "../collet-action-file"}
                         io.velio/collet-action-odata {:local/root "../collet-action-odata"}
                         io.velio/collet-action-jdbc {:local/root "../collet-action-jdbc"}
                         io.velio/collet-action-s3 {:local/root "../collet-action-s3"}
                         io.velio/collet-action-queue {:local/root "../collet-action-queue"}
                         io.velio/collet-action-jslt {:local/root "../collet-action-jslt"}
                         io.velio/collet-action-llm {:local/root "../collet-action-llm"}
                         io.velio/collet-action-vega {:local/root "../collet-action-vega"}
                         io.velio/collet-action-lucene {:local/root "../collet-action-lucene"}}
         :jvm-opts ["--add-exports=java.base/jdk.internal.ref=ALL-UNNAMED"
                    "--add-exports=java.base/sun.nio.ch=ALL-UNNAMED"
                    "--add-exports=jdk.unsupported/sun.misc=ALL-UNNAMED"
                    "--add-exports=jdk.compiler/com.sun.tools.javac.file=ALL-UNNAMED"
                    "--add-opens=jdk.compiler/com.sun.tools.javac=ALL-UNNAMED"
                    "--add-opens=java.base/java.lang=ALL-UNNAMED"
                    "--add-opens=java.base/java.lang.reflect=ALL-UNNAMED"
                    "--add-opens=java.base/java.io=ALL-UNNAMED"
                    "--add-opens=java.base/java.util=ALL-UNNAMED"
                    "--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "--enable-native-access=ALL-UNNAMED"]
         :main-opts ["-m" "cognitect.test-runner"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.14"}
                 io.velio/collet-build-support {:local/root "../build-support"}}
          :ns-default build}}}
